@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-title: var(--atkinson-hyperlegible);
  --font-sans: var(--google-sans-code);
}

body {
  background-color: #000;
}

@media print {
  header, nav, button, .no-print { display: none !important; }
  body { background: white !important; color: black !important; }
  .prose { color: black !important; }
  .prose * { color: black !important; }
}